<!DOCTYPE html>

<style>
    h1{
        color: green;
        text-align: center;
    }
    p {
        color: green;
        text-align: center;
    }
</style>

<html>
<head>
<title>KRENOVATOR</title>
</head>
<body>

<h1>HELLO WORLD!</h1>
<p>WELCOME to KRENOVATOR TSA COHORT 2</p>

</body>
</html>